{% extends 'base_modules/boxes/baseBox2.html' %}
{% block boxId %}C2{% endblock %}
{% block boxTitle %}All comments{% endblock %}
{% block thead %}
    <tr>
        <th>Book</th>
        <th>Username</th>
        <th>Text</th>
        <th>Creation date</th>
    </tr>
{% endblock %}
{% block tbody %}
    {% for c in comms %}
        <tr>
            <td>{{ c.id_book.title}}</td>
            <td>{{ c.id_user.username }}</td>
            <td>{{ c.text }}</td>
            <td>{{ c.created_date }}</td>
        </tr>
    {% endfor %}
{% endblock %}
