{% extends 'base_modules/modals/baseModal.html' %}
{% load crispy_forms_tags %}
{% block modalClass %}modal-warning{% endblock %}
{% block modalId %}ModV{% endblock %}
{% block modalTitle %}Modify Vehicle{% endblock %}
{% block modalBodyFooter %}
    <form method="post" action="{% url 'panel' %}">
        {% csrf_token %}
        <input type="hidden" id="m-id_prev" name="m-id_prev" value="">
        <div class="modal-body">
            {{ forms.modify_vehicle_form | crispy }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="submit" name="action" value="modify_vehicle_form" class="btn btn-primary">Save changes</button>
        </div>
    </form>
{% endblock %}