{% extends 'base_modules/modals/baseModal.html' %}
{% load crispy_forms_tags %}
{% block modalClass %}modal-success{% endblock %}
{% block modalId %}AddV{% endblock %}
{% block modalTitle %}New Vehicle{% endblock %}
{% block modalBodyFooter %}
    <form method="post" action="{% url 'panel' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <div class="modal-body">
            {{ forms.create_vehicle_form | crispy }}

            {% comment %}<div id="div_id_booking" class="form-group">
                <label for="id_booking" class="control-label  requiredField">
                    Booking assignation
                </label>
                <div class="controls ">
                    <select name="booking" id="id_booking" class="form-control">
                        <option value="---" selected>---</option>
                        {% for b in bookings %}
                            <option value="{{ b.id }}" >{{ b.booking_num }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>{% endcomment %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="submit" name="action" value="create_vehicle_form" class="btn btn-primary">Save changes</button>
        </div>
    </form>
{% endblock %}