{% extends 'base_modules/modals/baseModal.html' %}
{% block modalClass %}modal-danger{% endblock %}
{% block modalId %}DelV{% endblock %}
{% block modalTitle %}Delete Vehicle{% endblock %}
{% block modalBodyFooter %}
    <div class="modal-body">
        <p>Are you sure you want to delete the selected Vehicle(s)?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="deleteItem('boxV', {% url 'panel' %})">Delete</button>
    </div>
{% endblock %}